.navbar2 {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-item2 {
    height: 80px;
    cursor: pointer;
  }
  
  .nav-links2 {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 65%;
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease-out;
  }
  
  .nav-links2:hover {
    border-bottom: 4px solid #fff;
  }

  .nav-links2-active{
    border-bottom: 4px solid #fff;
  }
  
  .nav-links2-mobile {
    display: none;
  }
 
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-links2 {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links2:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
  
    .nav-links2-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links2-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }